img[title="Unread"], img[title="UnRead"] {
width:0;
height:30px;
padding-right:50px;
background:transparent url('images/unread.png') center center no-repeat;
}
img[title="Read"] {
width:0;
height:30px;
padding-right:50px;
background:transparent url('images/read.png') center 0px no-repeat;
}
img[title="snatches"], img[title="Snatches"] {
width:0;
height:30px;
padding-right:30px;
border: none !important;
background: url('images/snatches.png') no-repeat}
img[title="seeders"], img[title="Seeders"] {
width:0;
height:30px;
padding-right:30px;
border: none !important;
background: url('images/seeders.png') no-repeat}
img[title="leechers"], img[title="Leechers"] {
width:0;
height:30px;
padding-right:30px;
border: none !important;
background: url('images/leechers.png') no-repeat}

img[src="static/common/caticons/series-hd.png"] {
width:0;
background: transparent url(images/torrent-icons.png) -2px 0px no-repeat;
height:48px;
padding-right:48px;
}
img[src="static/common/caticons/series-sd.png"] {
width:0;
background: transparent url(images/torrent-icons.png) -74px 0px no-repeat;
height:48px;
padding-right:48px;
}
img[src="static/common/caticons/episode-hd.png"] {
width:0;
background: transparent url(images/torrent-icons.png) -146px 0px no-repeat;
height:48px;
padding-right:48px;
}
img[src="static/common/caticons/episode-sd.png"] {
width:0;
background: transparent url(images/torrent-icons.png) -218px 0px no-repeat;
height:48px;
padding-right:48px;
}
img[src="static/common/browsetags/fast.png"] {
width:0;
background: transparent url(images/torrent-icons.png) 0px -121px no-repeat;
height:16px;
padding-right:48px;
}
img[src="static/common/browsetags/auto.png"] {
width:0;
background: transparent url(images/torrent-icons.png) -74px -118px no-repeat;
height:16px;
padding-right:48px;
}
img[src="static/common/browsetags/new.png"] {
width:0;
background: transparent url(images/torrent-icons.png) -152px -118px no-repeat;
height:18px;
padding-right:48px;
}

* {
  padding: 0em;
  margin: 0em;
}

html {
  width: 100%;
}


body {
    background: url("images/backgroundwood.png") repeat-x scroll 0 0 #9F2C2C;
    color: #E9E9E9;
    font-family: tahoma,helvetica,sans-serif;
    font-size: 8pt;
    width: 100%;
}

/* Common elements */
a {
  text-decoration: none;
  border: none;
  color: #ccc;
}

a:hover {
  text-decoration: underline;
  color: #ccc;
}
a:hover abbr {
    text-decoration: underline;
}

a.similar_artist {
  background-color: #444444;
  display: block;
  padding: 1px 4px;
  color: #FFF;
  border: 1px solid #fff;
}

a.similar_artist:hover {
  background-color: #555;
}

.similar_artist_header {
  color: #FFF;
  background-color: #666;
  border: 1px solid #fff;
  padding: 3px 5px;
}

/* Sets color for each user class on forums.php, elsewhere */
a.permission_15,.permission_15 {color: #3cff00;font-weight:bold;}				/* SysOp */
a.permission_42,.permission_42 {color: #3cff00;font-weight:bold;}               /* Lead Developer */
a.permission_1,.permission_1 {color: #3f3;font-weight:bold;}						/* Administrator */
a.permission_11,.permission_11 {color: #9f9;}					/* Moderator */
a.permission_36,.permission_36 {color: #6f6;}					/* Sr. Moderator */
a.permission_37,.permission_37 {color: #3f3;}					/* Sr. Developer */

a.permission_31,.permission_31 {color: #3f3;font-weight:bold;}					/* Lead Developer */
a.permission_14,.permission_14 {color: #5f5;}					/* Developer */

a.permission_32,.permission_32 {color: #06F;}					/* FLS */
a.permission_26,.permission_26 {color: #06F;}					/* Forum Mod */
a.permission_29,.permission_29 {color: #06F;}					/* TV Technician */
a.permission_30,.permission_30 {color: #06F;}					/* Junior Coder */
a.permission_34,.permission_34 {color: #06F;}					/* Designer */

a.permission_2,.permission_2 {color: #FFFFFF;}					/* User */
a.permission_3,.permission_3 {color: #CCCCCC;}					/* Member */
a.permission_4,.permission_4 {color: #FF9;}						/* Power User */
a.permission_5,.permission_5 {color: #FF3;}						/* Extreme User */
a.permission_24,.permission_24 {color: #F87431;}				/* Elite */
a.permission_7,.permission_7 {color: #F30;}						/* Guru */
a.permission_33,.permission_33 {color: #ff00ff;}				/* Master */

a.permission_38, .permission_38 {color: #9933FF;}				/* beta team */
a.permission_37,.permission_37 {color: #93F;}					/* Guest of Honor */
a.permission_6,.permission_6 {color: #93F;}						/* VIP */
a.permission_9,.permission_9 {color: #93F;}						/* Torrent Celebrity */
a.permission_8,.permission_8 {color: #96F;}						/* Legend */
a.permission_28,.permission_28 {color: #90C;}					/* Encoder */
a.permission_35,.permission_35 {color: #93F;}					/* Bot */

a.permission_10,.permission_10 {color: #FFFF66;}				/* ***Not Used*** */
a.permission_12,.permission_12 {color: #CC0000;}				/* ***Not Used*** */
a.permission_13,.permission_13 {color: #996666;}				/* ***Not Used*** */
a.permission_22,.permission_22 {color: #FF7100;}				/* ***Not Used*** */
a.permission_25,.permission_25 {color: #660033;}				/* ***Not Used***? */
a.permission_27,.permission_27 {color: #00FFCC;}				/* ***Not Used*** */
/* END PERMISSION */


h1,h2,h3,h4 {
  margin: 5px 0px;
  font-family: tahoma,helvetica,sans-serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 12pt;
  color: #fff;
}

h3 {
        text-align: center;
        font-size: 10pt;
        color: #fff;
}

h4 {
  font-size: 8pt;
}

p {
  margin: 10px 5px;
}

li {
  margin: 5px 15px;
}

input {
  padding: 2px 3px;
}

textarea {
  padding: 2px 3px;
}

img {
  border: none;
}

/* Ratio Colors */

.r00 { color: #FF0000; }
.r01 { color: #FF1300; }
.r02 { color: #FF1300; }
.r03 { color: #FF2600; }
.r04 { color: #FF4C00; }
.r05 { color: #FF5E00; }
.r06 { color: #FF5E00; }
.r07 { color: #FF7100; }
.r08 { color: #FF9700; }
.r09 { color: #FFAA00; }
.r10 { color: #74C42E; }
.r20 { color: #418B00; }
.r50 { color: #418B00; }
.r99 { color: #418B00; }

/* Styles generated by the BBCode parser */

span.size1 {
  font-size: 0.75em;
}

span.size2 {
  font-size: 1em;
}

span.size3 {
  font-size: 1.25em;
}

span.size4 {
  font-size: 1.5em;
}

span.size5 {
  font-size: 1.75em;
}

span.size6 {
  font-size: 2em;
}

span.size7 {
  font-size: 2.25em;
}

span.size8 {
  font-size: 2.5em;
}

span.size9 {
  font-size: 2.75em;
}

span.size10 {
  font-size: 3em;
}

ul.thin {
  margin: 0px 0px 0px 25px;
  padding: 0px;
}

ul.thin li {
  margin: 0px 0px;
  padding: 0px;
}

/* Layout (Every page) */

#header {
  width: 960px;
  padding: 0px 0 0 0;
  position: relative;
}

#content {
    -moz-border-radius-bottomleft: 50px;
    -moz-border-radius-bottomright: 50px;
    -moz-box-shadow: 0 0 10px #000000;
    background: none repeat scroll 0 0 #3D3D3D;
    border-left: 10px solid rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

#wrapper {
    background: none repeat-x scroll center top transparent;
    margin: 8px auto;
    padding: 0;
    width: 960px;
}

#footer {
  margin-top: 40px;
  width: 960px;
  text-align: center;
  padding: 1em 0;
  color: #fff;
}

#logo {
    width: 960px;
    height: 100px;
    margin: 0px;
    background-image: url('images/header.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#logo a {
    background: url("images/ultraheader2.png") no-repeat scroll 0 0 transparent;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    display: block;
    height: 152px;
    width: 999px;
}

#logo a:hover {
  border: none;
}



#userinfo {
position: relative;
}

#userinfo ul{margin-right:-35px;}
#userinfo ul li{display:inline;margin:0 0.1em;line-height:20px;vertical-align:middle;padding:2px; }
#userinfo a{color:#fff;}
#userinfo a:hover{text-decoration:none;}
#userinfo b a{font-weight:normal;font-size:0.9em;}
#userinfo span.stat{color:#fff;}

#userinfo_username {
    list-style-type: none;
    position: absolute;
    right: 591px;
    top: -81px;
    width: 255px;
    z-index: 1001;
}

#userinfo_username li {
    display: inline !important;
    padding: 0 3px 0 0 !important;
    text-align: right;
}

#userinfo_stats {
    display: inline;
    position: absolute;
    right: 560px;
    text-align: center;
    top: -63px;
    width: 320px;
    z-index: 1001;
}

#userinfo_major {
    list-style-type: none;
    position: absolute;
    right: 24px;
    top: -64px;
    width: 200px;
    z-index: 1001;
}

#userinfo_major li {
    display: inline !important;
    padding: 0 0 0 3px !important;
    text-align: right !important;
}


#userinfo_username, #userinfo_stats, #userinfo_major {
    color: #9F2C2C !important;
    text-shadow: 0 1px 5px #000000;
}

#userinfo_username, #userinfo_stats, #userinfo_major a{
  font-weight: bold;
}

#userinfo_minor {
    background: none repeat scroll 0 0 transparent;
    font-size: 8pt;
    left: 50%;
    list-style-type: none;
    margin-left: -485px;
    padding: 2px 5px;
    position: absolute;
    text-align: right;
    top: -123px;
    width: 960px;
    z-index: 1001;
}

#userinfo_minor a {
margin-right: 2px;
}



#userinfo_minor a{color:#fff;}
#userinfo_minor a:hover{color:#fff;}

#searchbars {
    background: none repeat-x scroll 0 0 transparent;
    height: 35px;
    margin-left: -1px;
    padding: 0;
    text-align: center;
    width: 962px;
}



#searchbars {
  width: 960px;
  text-align: center;
  background-color: transparent;
  padding: 4px 0px;
}

#searchbars input {
    background: url("images/searchbarsinput.png") no-repeat scroll 0 9px transparent;
    border: medium none;
    color: #FFFFFF;
    font-size: 0.9em;
    height: 15px;
    padding: 14px 4px 4px;
    position: relative;
    text-align: center;
    text-shadow: 0 2px 2px #000000;
}

#searchbars ul {
  margin: 0 auto;
}

#searchbars ul li {
  display: inline;
  margin: 0px 1px;
}

#searchbars ul li form {
  display: inline;
}

#alerts {
  width: 960px;
  lenght: auto;
  margin: 0 auto;
}

#alerts a {
  color: #ccc;
}

.alertbar.blend {
  background-color: #222;
  border: 1px solid #303030;
  -moz-box-shadow: 0 0 10px #000000;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* new member box */
.newmem {
  background-color: #222;
  text-align: center;
  color: #ccc;
  font-weight: bold;
  font-size: 0.95em;
  width: 350px;
  margin: 0px auto;
  padding: 5px;
}

#cat-selector ul {
  width: 100%;
}

#cat-selector ul li {
  display: inline;
  width: 12em;
  height: 1em;
  float: left;
}

.alertbar {
    -moz-box-shadow: 0 0 10px #000000;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
    font-size: 0.95em;
    font-weight: bold;
    margin: 0 auto;
    padding: 7px;
    text-align: center;
    width: 500px;
}

.alertbar a {
  color: #555;
  text-decoration: underline;
}

.alertbar a:hover {
  color: #FFFF88;
  text-decoration: none;
}

/* IE doesn't appear to like a simple display:none in our header. Random things start fucking up pretty badly. */

.hidden {
  position: absolute;
  left: -10000px;
}

input.hidden {
  position: absolute;
  display: none;
}


/* Layout (Any page) */

.thin {
  width: 850px;
  margin: 0px auto;
}

#userinfo_username .brackets:before {
  content: "[";
}

#userinfo_username .brackets:after {
  content: "]";
}

#userinfo_major .brackets:before {
  font-weight: bold;

 content: "[";
}

#userinfo_major .brackets:after {
  font-weight: bold;
  content: "]";
}

div.linkbox {
  text-align: center;
  padding: 5px;
}

.center {

 text-align: center;
}

.right {
  text-align: right;
}

.min_padding {
  padding: 0px;
  margin: 0px 0px;
}

p.min_padding {
  margin: 2px 0px;
}

.pad {
  padding: 1em;
}

.vertical_space {
  margin-bottom: 10px;
}

.box {
    -moz-box-shadow: -5px 0 10px #000000;
    background-color: #9F2C2C;
    border-left: 10px solid rgba(0, 0, 0, 0.6);
    font-size: 8pt;
}

.welcome {
        font-size: 10pt;
        background-color: #282828;
        border: 1px solid #303030;
}


.pad h3,.pad h4,.padbox h3,.padbox h4 {
  margin-top: 0px;
  padding-top: 0px;
}

.sidebar {
  float: right;
  width: 250px;
  height: 100%;
}

.sidebar .box {
  margin: 0px 5px 10px 5px;
}

.head {
    background: none repeat scroll 0 0 transparent;
    color: white;
    padding: 4px;
}

.body {
  padding: 3px 10px 10px 10px;
}

.main_column {
  margin: 0px 255px 10px 0px;
  width: 590px;
}

.main_column .box,.main_column table {
  margin-bottom: 10px;
}

.tags {
  padding: 0px 0px 0px 20px;
  font-style: italic;
}

.tags a {
  color: #7e7e7e;
}


.tags a:hover {
  color: #FFFF88;
  text-decoration: none;
}

.noborder {
  border: none;
}

ul.nobullet {
  list-style-type: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #3d3d3d;
}

tr {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

tr.rowb{
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

tr.rowa {
  background-color: rgba(255, 0, 0, 0.1);
}

td {
  border: 1px solid #3d3d3d;
  padding: 5px;
}

td.tdleft {
  border: 1px solid #3d3d3d;
  padding: 5px;
  text-align:left;
}

td.tdcenter {
  border: 1px solid #3d3d3d;
  padding: 5px;
  text-align:center;
}

td.tdright {
  border: 1px solid #3d3d3d;
  padding: 5px;
  text-align:right;
}

.forum_group_header {
  background: #3d3d3d url('images/head.png');
  font-weight: bold;
  color: #ffffff;
}

.colhead {
  background: #3d3d3d url('images/head.png');
  font-weight: bold;
  color: #ffffff;
}

td.colhead,.colhead td {
  padding-left: 10px;
  padding-right: 10px;
}

.colhead .sign {
  padding: 0px 8px 0px 8px;
  font-size: 12pt;
  font-weight: bold;
  vertical-align: middle;
}

.colhead_dark {
  background: #3d3d3d;
  color: #fff;
  vertical-align: middle;
}


.colhead_dark a {
  color: #fff;
}

/*---Start of profile-slider CSS----------------*/

ul.navigation {
    background: #3d3d3d url('images/head.png');
    color: #fff;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 5px;
    font-weight: bold;
}

ul.navigation li {
    display: inline;
    margin-right: 10px;
}

ul.navigation a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

ul.navigation a:hover {
    color: #000;
    background-color: #cfcfcf;
}

ul.navigation a.selected {
    color: #000;
    background-color: #909090;
}

ul.navigation a:focus {
    color: #000;
    outline: none;
}

/*---End of profile-slider CSS----------------*/

td.label {
  font-weight: bold;
  text-align: right;
  width: 180px;
}

table.slice {
  margin-top: -1px;
}

.error_message {
  border: 1px solid #666;
  padding: 3px 0px 3px 0px;
  background-color: #AF2525;
  text-align: center;
  color: white;
  font-weight: bold;
}

.save_message {
  border: 1px solid #666;
  padding: 3px 0px 3px 0px;
  background-color: #F4E649;
  text-align: center;
  color: #492802;
  font-weight: bold;
}

.elem_error {
  border: 3px solid #B00D0D;
}

.hide {
  display: none;
}

/* Layout (home page) */

ul.stats li {
    padding: 9px 0 3px;
}

ul.poll li {
  padding: 0px 0px 0px 10px;
  margin: 0px;
}

ul.poll li.graph {
  margin-bottom: 3px;
  padding-left: 20px;
}

/* Layout (Torrents page) */

.show_torrents_link {
  border: none;
  width: 28px;
  height: 28px;
  display: block;
}


.filter_torrents {
  width: 750px;
  margin: auto;
}

.filter_torrents .submit {
  text-align: right;
  padding-top: 5px;
}

.cat_list tr td {
  border: none;
}

.torrent_table tr {
  vertical-align: top;
}

.colhead .sign, .colhead_dark .sign {
  padding: 0px 8px 0px 8px;
  vertical-align:middle;
  text-align:center;
  font-size: 12pt;
  font-weight: bold;
}

.torrent_table tr.group, tr.group_torrent, tr.torrent {
  background-color: #222;
}

.torrent_table div.tags {
  font-weight: normal;
}

.torrent_table tr .center {
  vertical-align: middle;
  text-align: center;
}

.torrent_table tr.group_torrent td a span {
    float: left;
    white-space: pre;
}

.group_torrent span {
  float: right;
}

.torrent span {
  font-weight:normal;
  float:right;
}

.torrent span img {
    vertical-align: text-top;
}

.nobr {
  white-space: nowrap;
}



.TS { color: #ff00c8; }
.MPEG { color: #ff0050; }
.MP4 { color: #be0000; }
.MKV { color: #ff4100; }
.M4V { color: #ff6e00; }
.AVI { color: #ffaf00; }
.Internal { color: #58ff00; }
/* None and --- */
.None, .\0D\0D\0D { color: #e89ba0; }
.P2P { color: #ae83cc; }
.Scene { color: #95ccb6; }
.User { color: #faf18b; }

/* Layout (Forums) */

table.forum_post {
  margin: 10px 0px;
}

table.forum_post td {
  border: 1px solid #303030;
}

table.forum_unread {
    background: none repeat scroll 0 0 #5E1B1B;
    border-color: #CCCCCC #CCCCCC #CCCCCC rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-width: 0 0 0 10px;
}

td.avatar {
  width: 150px;
  padding: 0px;
}

table.forum_post td.body {
  width: 690px;
}

tbody {
  max-width: 690px;
}

blockquote {
  margin: 10px;
  padding: 10px;
  border: 1px dashed #666;
}

.signature {
  margin: 2em 0 0 0;
  padding: .5em 0 0 0;
  border-top: 1px dotted #666;
}

div.user_details {
	padding: 5px;
}

/* Layout (Inbox) */

tr.unreadpm {
  background-color: #692222;
}

/* Layout (Permission Page) */

.permission_head {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.permissions {
  width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.permission_container {
  float: left;
  width: 300px;
  padding: 5px;
}

.permission_container input {
  margin: 0px 3px 5px 0px;
  vertical-align: top;
}

.submit_container {
  clear: both;
  text-align: right;
}

/* Layout (Invite tree) */

ul .invitetree {
  margin: 0px 0px 0px 25px;
}

.invitetree li {
  list-style: none;
  margin: 10px 2px;
}

/* Layout (MISC) */

#left_poll {
  width: 2px;
  height: 9px;
  background: url('bar_left.gif') no-repeat center center;
  float: left;
  margin: 0px;
  padding: 0px;
}

#center_poll {
  height: 9px;
  /*background: url('http://broadcasthe.net/static/styles/smpte/images/bar.gif') repeat;*/
  background: #3E3E3E;
  float: left;
  margin: 0px;
  padding: 0px;
}

#right_poll {
  width: 2px;
  height: 9px;
  background: url('images/bar_right.gif') no-repeat center center;
  float: left;
  margin: 0px;
  padding: 0px;
}

.curtain {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.lightbox {
  display: none;
  position: fixed;
  text-align: center;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  padding: 0px;
  z-index: 1002;
  overflow: auto;
}

table#torrent_table.torrent_table {
  width: 850px;
  margin: auto;
}

form tr {
  background-color: #222222;
}

pre {
color: #FFFFFF;
}

#donation {
    color: #333333;
    font-size: 8pt;
    left: 35px;
    padding: 0.6em 0;
    position: absolute;
    text-align: center;
    top: 67px;
    width: 120px;
    z-index: 1002;
}

#forums .box {
    margin-left: 0;
    width: 863px;
}

/* Forum Upgrades */
.signature { margin: 2em 0 0 0; padding: .5em 0 0 0; border-top: 1px dotted #666; }

/* Ticket System */
        .tickets_search {
                width: 800px;
                margin-left: auto;
                margin-right: auto;
                font-size: 8pt;
        }

        .tickets_categories {
               float: left;
                text-align: left;
                padding: .5em;
        }

        .tickets_status {
                float: right;
                padding: 0.5em;
                text-align: left;
        }

        .small_label {
                width: 0%;
                text-align: right;
                font-weight: bold;
        }

        .filter_tickets {
                width:850px;
                margin-left:auto;
                margin-right:auto;
                margin-bottom:15px;
        }

        .filter_tickets .submit {
                text-align:right;
                padding-top:5px;
        }

/* reviews */

.rank {
    text-align: center;
    font: small-caps 2.4em Georgia, "Times New Roman", Times, serif;
    width: 86px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.rank img {
    clear: both;
}

.rankimghide {
    display: none;
    margin: 0px;
    padding: 0px;
}

.center h3 {
    padding-top: 4px;
    font-size: 10pt;
}

.review_row {
    margin: 10px 25px;
}

.inline_rank {
    position: relative;
    top: 80px;
    left: 14px;
    font: small-caps 1.4em Georgia, "Times New Roman", Times, serif;
}

.inline_rank img {
    width: 2%;
}

.review_title {
    font: small-caps 2.1em Georgia, "Times New Roman", Times, serif;
    margin-left: 10px;
}

.review_body {
    float: right;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    width: 757px;
    overflow: auto;
}

.review_details {
    font-style: italic;
    float: right;
    padding-right: 10px;
    padding-bottom: 3px;
}


.review_search {
    width: 900px;
    margin: auto;
    text-align: center;
}

.review_search input {
    width: 400px;
    text-align: center;
}

#searchbutton {
    display: none;
}

.left_tabs {
    float:left;
    width: 100px;
}

a.tab {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    display: block;
    background-color: rgba(69, 69, 69, 0.35);
    padding: 4px;
    text-align: center;
    color:#FFFFFF;
    font-weight:bold;
    text-transform: lowercase;
}


/*--------------------------------Edits by JaUg---------------------------------------------------*/


/*Changes needed in jquery.ui.potato.menu.css to work with all styles
#menu1 {
width:900px;
margin:0 auto;
}

li.potato-menu-item{
width:150px;
}
*/


/* Special changes needed in end of blue and red styles
#content .home .main_column {
width: 670px;
}

#content .home .main_column .head {
width: 650px;
}

#content .home .main_column .of_the_month .box{
width: 320px;
}

#content .home .main_column .of_the_month .head {
width: 312px;
}
*/

/*-------------- Special settings needed in end of SMPTE -------------*/
#content .home  .main_column{
width:590px;
}

#content .home  .main_column  .head{
width: 570px;
}


#content .home  .main_column .of_the_month .head {
width:272px;
}

#content .home .main_column .of_the_month .box{
width:275px;
}
/*--------------End - Special settings needed in end of SMPTE -------------*/



/* -----------Should be in end of all styles-----------------*/
.home .sidebar {
float:left; /*Old: right */
}

.home .main_column {
margin: 0px 0px 10px 0px; /*Old: margin: 0px 255px 10px 0px;*/
float:right;
}

#content .home .box {
    margin: 42px 5px 10px;
}

#content .home .head {
    margin-top: -27px;
    position: absolute;
    text-shadow: 0 2px 5px #000000;
}

#content .home .sidebar .head {
width: 230px;
}

.home .box > .pad, .home .box > ul {
border: none;
}

.home .extrapad {
padding: 1em;
}
.home table {
border:0;
}

.home th {
    padding: 5px;
    text-align: center;
    text-shadow: 0 2px 5px #000000;
}

.home td {
border:0;
}

.home tr.colhead {
border:0;
border-bottom:1px solid black;
}

.home th:first-child {
    border-right: 0 none;
    text-shadow: 0 2px 5px #000000;
}

.home th:last-child {
    border-left: 0 none;
}


.home .of_the_month ul {
font-size:130%;
}

.home .of_the_month ul b{
color:white;
}

.home .month_rating {
font-family:"Arial Black";
font-size:40px;
}
/*Border radius should work in current versions of Firefox, Safari/Chrome, Opera and even IE9! */
/* -----------End - Should be in end of all styles-----------------*/

/*--------------------------------End - Edits by JaUg---------------------------------------------------*/


a.tab:hover {
    text-decoration: none;
    background-color: rgba(69, 69, 69, 0.55);
}

a.tab#selected {
    background-color: rgba(145, 168, 175, 0.3);
}

div.thin2 {
    float: left;
    margin: auto;
    width: 900px;
}
/* end Reviews */


/* jQuery Menu */
#menu {
    background: url("images/ultramenu.png") no-repeat scroll 0 0 transparent;
    font-size: 11px;
    height: 57px;
    line-height: 38px;
    margin-left: -11px;
    margin-top: -62px;
    position: absolute;
    text-align: center;
    width: 1060px;
}

#index #nav_index,  #tv #nav_tv, #torrent #nav_torrent, #community #nav_community, #help #nav_help, #bonus #nav_bonus, #user #nav_user, #staff #nav_staff {
  background: url('images/menuh.png') left center;
}

#menu ul li a {
  color: #fff;
font-weight: bold;
}

#menu ul li a:hover {
  background: url('images/menuh.png') left center;
  text-decoration: none;
  color: #fff;
}

#menu1 {
    display: inline-block;
    list-style: none outside none;
    padding: 0;
    position: relative;
    text-align: left;
    text-shadow: 0 2px 5px #000000;
    top: 13px;
}

.potato-menu:after {
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}
ul.potato-menu li.potato-menu-item {
	margin:0 !important;
	position:relative;
	list-style:none;
	list-style-position:outside;
	display:inline;
	float:left;

}
ul.potato-menu li.potato-menu-item a {
display: block;
padding: 0 20px;
	text-decoration:none;
	white-space:nowrap;
	outline:0;
vertical-align: middle;
line-height: 30px !important;
height: 30px;
overflow: hidden !important;
}

ul.potato-menu ul.potato-menu-group {
    -moz-border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: 0 0 4px #000000;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    margin: 0 0 0;
    padding: 0 !important;
    position: absolute;
    text-align: left;
    width: 160px;
    z-index: 1000;
}

ul.potato-menu ul.potato-menu-group li {
margin: 0 !important;
padding: 0 !important;
}
ul.potato-menu ul.potato-menu-group a {
display: block !important;
width: 140px;
padding: 0px 10px !important;
}
ul.potato-menu ul.potato-menu-group a:hover {
    background-color: rgba(0,0,0,0.5) !important;
    background-image: none !important;
	z-index: 9000009;
}

/* Twitter widget on index.php */

div#twitter {
	width: 22.5em;
	margin-bottom: 2em;
	padding-bottom: 2px;}

div#twitter h2 {
	margin: 0;
	padding: 0.4em 1em;
	font-size: 1.1em;
	color: #fff;}

p#preloader {
	margin: 0;
	padding: 1em 1em 1em 3em;}

ul#twitter_update_list {
	margin: 0;
	padding: 0 1em 0.5em 1em;
	list-style-type: none;}

ul#twitter_update_list li {
	margin: 0;
	padding: 0.8em 0 1em 0;
	border-bottom: 1px solid #ccc;}					/* Line color between tweets */

ul#twitter_update_list li a {
	color: #fff;}									/* Color of # minutes ago text */

ul#twitter_update_list li span {
	display: block;}

ul#twitter_update_list li span a {
	color: #ccc;}									/* Link color of individual tweets */

ul#twitter_update_list li.firstTweet {}

ul#twitter_update_list li.lastTweet {
	border-bottom: none;}

a#profileLink {
    color: #FFFFFF;
    display: block;
    padding: 0.3em 1em;
border-top: 1px solid #ccc;}

					/* Background color of link to twitter page */
	
/**** Gift Code ****/
div#gift {
	width: 1px;
	height: 1px;
	position: relative;
	top: 130px;
	left: 895px;
	z-index:999;
}


.torrent_table:not(#discog_table) tr.group_torrent:nth-of-type(even){

  background-color:maroon !important;

}



.torrent_table:not(#discog_table) tr.group_torrent:nth-of-type(even)+tr{

  background-color:maroon !important;

}



.torrent_table:not(#discog_table) tr.group_torrent:nth-of-type(odd){

  background-color:midnightblue !important;

}



.torrent_table:not(#discog_table) tr.group_torrent:nth-of-type(odd)+tr{

  background-color:midnightblue !important;

}